<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Library_DataBase"
		 providerName=".NET Framework Data Provider for SQL Server"
		 connectionString="Data Source=EPRUSARW2046\SQLEXPRESS;Initial Catalog=Library_DataBase;Integrated Security=True" />
		
		<add name="Library_DataBase_user"
			 providerName=".NET Framework Data Provider for SQL Server"
			 connectionString="Data Source=EPRUSARW2046\SQLEXPRESS;Initial Catalog=Library_DataBase;User ID=simple_user_for_library;Password=user" />

		<add name="Library_DataBase_librarian"
				 providerName=".NET Framework Data Provider for SQL Server"
				 connectionString="Data Source=EPRUSARW2046\SQLEXPRESS;Initial Catalog=Library_DataBase;User ID=librarian_for_library;Password=user" />
		
		<add name="Library_DataBase_admin"
				 providerName=".NET Framework Data Provider for SQL Server"
				 connectionString="Data Source=EPRUSARW2046\SQLEXPRESS;Initial Catalog=Library_DataBase;User ID=admin_for_library;Password=user" />

	</connectionStrings>
	<appSettings>
		<add key="Role" value="Admin"/>
	</appSettings>
</configuration>